<div class="container-fluid">
    <!-- Header -->
    <nav class="navbar navbar-light bg">
        <h2>Indian Premier League 2021</h2>
        <ul class="nav nav-pills">
            <li class="nav-item" (click) = "selectedLink('home')">
              <a class="nav-link" routerLink = "/" [class.active]="selectedcol=='home'">Home</a>
            </li>
            <li class="nav-item" (click) = "selectedLink('gallery')" *ngIf= "logouts">
                <a class="nav-link" routerLink = "gallery" [class.active]="selectedcol=='gallery'">Gallery</a>
            </li>
            <li class="nav-item" (click) = "selectedLink('about')">
              <a class="nav-link" routerLink = "about" [class.active]="selectedcol=='about'">About us</a>
            </li>
            <li class="username">
                <a routerLink = "">{{LoggedUser}}</a>
            </li>
            <li class="nav-item" *ngIf= "logins">
              <a routerLink = "/" class="nav-link"  (click)="openLg(contentt)">Login</a>
            </li>
            <li class="nav-item" *ngIf= "logouts">
                <a class="nav-link" routerLink = "/" (click)="logout();">Logout</a>
            </li>
        </ul>
    </nav>
    <!-- Header Close -->

    <!-- Popup Model -->
    <ng-template #contentt let-modal class="popupbox">
        <div class="modal-header">
            <h2>Sign in</h2>
        </div>

        <div class="modal-body">
            <form #myForm="ngForm">
                <div class="col col1">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" list= "usenames" id="exampleInputEmail1" name="username"(keyup)='emaillist(username)' [(ngModel)] = "username" placeholder="Enter email">
                    <datalist id="usenames">
                        <option [value]="users.userid" *ngFor = "let users of userD">{{users.userid}}</option>
                    </datalist>
                </div>
                <div class="col col2">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)] = "password" placeholder="Enter Password">
                </div>
            </form>
        </div>
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-lg" (click)="login();modal.close('Close click')">Login</button>
        </div>
    </ng-template>
    <!-- Popup Model Close-->

    <!-- Body Content -->
    <section class="content">
        <router-outlet></router-outlet>
    </section>
    <!-- Body Content Close-->

    <!-- Footer -->
    <footer class="page-footer">
        <div class="footer-items">
            <h5>Quicklinks</h5>
            <ul class="footer-list">
                <li>News</li>
                <li>Videos</li>
                <li>Venues</li>
                <li>Stats</li>
                <li>Archive</li>
            </ul>
        </div>
        <div class="footer-items">
            <h5>Teams</h5>
            <ul class="footer-list">
                <li>Chennai Super Kingse</li>
                <li>Delhi Capitalse</li>
                <li>Kolkata Knight Riderse</li>
                <li>Mumbai Indianse</li>
                <li>Punjab Kingse</li>
                <li>Rajasthan Royalse</li>
                <li>Royal Challengers Bangalore</li>
                <li>Sunrisers Hyderabade</li>
            </ul>
        </div>
        <div class="footer-items">
            <h5>About</h5>
            <ul class="footer-list">
                <li>About Us</li>
                <li>Anti Corruption Policy</li>
                <li>Anti Doping Policy</li>
                <li>TUE Application Form</li>
                <li>Anti-Discrimination Policy</li>
                <li>Clothing and Equipment Regulations</li>
                <li>Code of Conduct for Players and Team Officials</li>
                <li>News Access Regulations</li>
                <li>Image Use Terms</li>
            </ul>
        </div>
        <div class="footer-items">
            <h5>Title</h5>
            <ul class="footer-list">
                <li>IPL Code of Conduct for Match officials</li>
                <li>Brand and Protection Guidelines</li>
                <li>Governing Council</li>
                <li>Match Playing Conditions</li>
                <li>PMOA Minimum Standard</li>
                <li>Suspect Action Policy</li>
            </ul>
        </div>
        <div class="footer-items">
            <h5>Contact</h5>
            <ul class="footer-list ">
                <li>Contact Us</li>
                <li>Sponsorship</li>
            </ul>
        </div>
        <div class="social-media">
            <h4>FOLLOW IPL</h4>
            <div class="social-media-icons">
                <div class="icons"><a href="https://www.facebook.com/IPL/"><i class="fab fa-facebook-square"></i></a></div>
                <div class="icons"><a href="https://www.instagram.com/iplt20/?hl=en"><i class="fab fa-instagram"></i></a></div>
                <div class="icons"><a href="https://twitter.com/IPL"><i class="fab fa-twitter"></i></a></div>
            </div>
        </div>
    </footer>
    <!-- Footer Close -->
</div>
