<div class="main">
    <div class="aboutus">
        <h2><b>ABOUT US</b></h2>
    </div>
    <div class="about-content">
        <div class="image">
            <img src="assets/cricket.png" alt="" width="355rem" height="500rem">
        </div>
        <div class="about-list">
            <ul>
                <h4><b>ABOUT</b></h4>
                <li>Anti Corruption Policy</li>
                <li>Anti Doping Policy</li>
                <li>TUE Application Form</li>
                <li>Anti-Discrimination Policy</li>
                <li>Clothing and Equipment Regulations</li>
                <li>Code of Conduct for Players and Team Officials</li>
                <li>IPL Code of Conduct for Match officials</li>
                <li>News Access Regulations</li>
                <li>Image Use Terms</li>
                <li>Governing Council</li>
                <li>Match Playing Conditions</li>
                <li>PMOA Minimum Standard</li>
            </ul>
        </div>
    </div>
</div>